.fullform{
    background-color: white;
}

.btnsize{
    height : 5vw;
    font-weight: bolder;
    padding-top: 1%;
    background-color: orangered !important;
}





/* The container */
.rad {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.rad input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-style: solid ;
    border-radius: 50%;
    border-width: 0.5px;
}

/* On mouse-over, add a grey background color */
.rad:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rad input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.rad input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.rad .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

  /* ------------------------------------------------------------------------------------------------ */

  /* Customize the label (the container) */
.rad2 {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .rad2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkboxmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-style: solid ;
    border-radius: 15%;
    border-width: 0.5px;
  }
  
  /* On mouse-over, add a grey background color */
  .rad2:hover input ~ .checkboxmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .rad2 input:checked ~ .checkboxmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkboxmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .rad2 input:checked ~ .checkboxmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .rad2 .checkboxmark:after {
    left: 5px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .btnpad{
      padding-top : 36px;
  }

  .form-group{
      padding: 8px;
  }

  .jumbotron {
    padding-top: 23px;
    padding-bottom: 27px;
}

.container {
    width: 875px;
}

